<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Puppy</title>
  </head>
  <body>
    <h1>Add a Puppy</h1>
    <form class="" action="/puppy" method="POST">
      <label for="name">Name:</label>
      <p><input type="text" name="name" ></p>
      <label for="breed">Breed:</label>
      <p><input type="text" name="breed"></p>
      <label for="age">Age:</label>
      <p><input type="text" name="age"></p>
      <p><button type="submit" value="SUBMIT" name="submit">submit</button></p>
    </form>
  </body>
</html>